
        html, body {
            margin: 0 !important;
            padding: 0 !important;
        }

        .course-background {
            display: flex;
            justify-content: center;
            align-items: center;
            background-image: url('../course_back3.png');
            background-size: cover;
            background-position: center;
            height: 100vh;
            margin: 0 !important;
            padding: 0 !important;
        }

        .card-header {
            background-color: #007bff;
            color: white;
        }

        .card {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            margin: auto;
            max-width: 600px;
        }

        .card-footer {
            background-color: #f8f9fa;
        }

        .btn-secondary {
            background-color: #6c757d;
            border-color: #6c757d;
            color: white;
        }

        .btn-secondary:hover {
            background-color: #5a6268;
            border-color: #545b62;
        }